- name: Create docker network
  block:
    - name: Create docker network
      community.docker.docker_network:
        name: docker-network
        state: present
        ipam_config:
          - subnet: 172.0.0.0/24
        become: yes
        become_user: dockeruser